.composition {
  position: relative;
  &__photo {
    width: 50%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.164);
    border-radius: 2px;
    position: absolute;
    transition: all 0.4s;

    //FOR BORDER ON IMG
    outline-offset: 2rem;

    &--p1 {
      left: 0;
      top: -2rem;
      @include respond(tab-port) {
        left: -6rem;
        top: 0rem;
      }
    }
    &--p2 {
      right: 0;
      top: 2rem;
      z-index: 2;
      @include respond(tab-port) {
        left: 23%;
        top: 3rem;
      }
    }
    &--p3 {
      left: 20%;
      top: 10rem;
      @include respond(tab-port) {
        left: 67%;
        top: 0;
      }
    }
    &:hover {
      //FOR BORDER ON IMG HOVER
      outline: 1.5rem solid $color-primary;
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 42;
    }
  }

  // to decrese all images when one img is hovered
  &:hover &__photo:not(:hover) {
    transform: scale(0.95) translateY(-0.5rem);
  }
}
