.popup {
  background-color: rgba($color-balck, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s;
  // when button is clicked it search for target id and target id is in popup element
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__content {
    background-color: $color-white;
    height: 50%;
    width: 75%;
    position: absolute;
    @include absCenter;
    border-radius: $radius-default;
    box-shadow: 0 2rem 4rem rgba($color-balck, 0.3);
    display: table;
    overflow: hidden;

    transition: all 0.3s 0.2s;
    //transition time and dealy

    transform: translate(-50%, -50%) scale(0);
  }

  &__left {
    width: 33.33333%;
    display: table-cell;
    vertical-align: middle;
  }
  &__right {
    width: 66.6666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }
  &__img {
    display: block;
    width: 100%;
  }
  &__text {
    font-size: 1.2rem;
    margin-bottom: 4rem;
    //new css properties on text blocks
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;
    //when text broke to ne-xt line
    hyphens: auto;
  }

  &__close {
    &:link,
    &:visited {
      text-decoration: none;
      font-size: 4rem;
      position: absolute;
      top: 3%;
      left: 97%;
      color: $color-grey-dark-3;
      transition: all 0.5s;
      line-height: 1;
    }
    &:hover,
    &:active {
      transform: scale(1.4);
      color: $color-primary-dark;
    }
  }
  &:target &__content {
    transform: translate(-50%, -50%) scale(1);
  }
}
