.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-balck, $alpha: 0.1);
  background-color: $color-white;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);
  position: relative;

  &__shape {
    width: 15rem;
    height: 15rem;

    //to make elemet float around (text around img) and habe to define dimentaion
    //to make other elements flow in circle
    float: left;

    shape-outside: circle(50% at 50% 50%);
    //to make element to look like cirle
    clip-path: circle(50% at 50% 50%);
    //to move circle
    transform: translateX(-3rem) skewX(12deg);
  }
  &__img {
    height: 100%;
    transform: translateX(-4rem);
    backface-visibility: hidden;
    transition: all 0.5s;
  }
  &__text {
    transform: skewX(12deg);
  }
  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    color: $color-white;
    font-size: 1.7rem;
    text-transform: uppercase;
    align-items: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
  }
  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    backface-visibility: hidden;
    filter: blur(3px) brightness(80%);
  }
}
