@keyframes moveinleft {
  0% {
    opacity: 0;
    transform: translatex(-10rem);
  }
  80% {
    transform: translatex(2rem);
  }
  100% {
    opacity: 1;
    transform: translatex(0);
  }
}
@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translatex(10rem);
  }
  80% {
    transform: translatex(-2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveup {
  0% {
    transform: translatey(5rem);
    opacity: 0;
  }
  100% {
    transform: translatey(0rem);
    opacity: 1;
  }
}
@keyframes logoAnimation {
  0% {
    transform: rotate(-5deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(-15deg);
  }
  60% {
    transform: rotate(-20deg);
  }
  80% {
    transform: rotate(-15deg);
  }
  90% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
