*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  //this define what one rem is
  font-size: 62.5%; //1 rem=10px

  /*
====min with from minimun width(that width that has been mension) to------------infinity
====max with from maxinum width(that width that has been mension) to------------0;
  */

  @include respond(tab-land) {
    font-size: 50%; //1rem=8--->8/16(default)*100=50%
  }
  @include respond(tap-port) {
    font-size: 56.25%; //1rerm=9---->9/16(default)*100=56.22;
  }
  @include respond(phone) {
    font-size: 50%;
  }
  @include respond(big-desktop) {
    font-size: 75%; //1rem=12--------->12/16*100=75%;
  }
}
body {
  box-sizing: border-box;
}
